# config

# Defaults are here. Uncomment and set values
# CPU=1
# MEMORY=512
# DISK=8 
# LOG_CONSOLE_OUTPUT=STDOUT
# UNSAFE-CACHING=false
# BRIDGE=virbr0

ARGS=""

if [[ ! -z "$CPU" ]]; then
   ARGS="$ARGS --cpu ${CPU}"
fi

if [[ ! -z "$MEMORY" ]]; then
   ARGS="$ARGS --memory ${MEMORY}"
fi

if [[ ! -z "$DISK" ]]; then
   ARGS="$ARGS --disk ${DISK}"
fi

if [[ ! -z "$LOG_CONSOLE_OUTPUT" ]]; then
   ARGS="$ARGS --log-console-output $LOG_CONSOLE_OUTPUT"
fi

if [[ ! -z "$UNSAFE-CACHING" ]]; then
   ARGS="$ARGS --unsafe-caching"
fi

if [[ ! -z "$BRIDGE" ]]; then
   ARGS="$ARGS --bridge $BRIDGE"
fi

